.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 16px;
    max-width: 400px;
    background-color: #ffffff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .project:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .projectImage {
    border-radius: 8px;
    max-width: 100%;
    margin-bottom: 16px;
  }
  
  .projectDetails {
    text-align: center;
  }
  
  .projectName {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
  }
  
  .projectDescription {
    font-size: 1rem;
    color: #555;
    margin-bottom: 16px;
  }
  
  .projectDetails a {
    text-decoration: none;
    font-weight: bold;
    color: #ec6686;
    border: 1px solid transparent;
    padding: 8px 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .projectDetails a:hover {
    background-color: #c15770;
    color: #ffffff;
  }
  