/* CSS for navigation */
.navbar {
    position: sticky;
    top: 0;
    /*always be at the top*/
    z-index: 100;
  }
  
  .nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-red);
    color: var(--white);
    padding: 0px;
    margin-top: 0px;
    list-style: none;
    /* Debug border */
    /* border: solid red; */
  }
  
  .nav-list li {
    font-size: 20px;
    padding: 6px;
  }
  
  .nav-list li:nth-child(3) {
    margin-left: 20px; 
    margin-right: 15px;
  }
  
  .navbar a {
    color: var(--white);
    font-weight: bold;
    margin: 0 12px;
    text-decoration: none;
    letter-spacing: 2px;
  }
  
  .navbar a:hover, .navbar a:active {
    color: var(--pink);
    text-decoration: underline;
  }
  
  .navbar a img:hover {
    transform: scale(1.1);
    opacity: .8;
  }
  