@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* variables */
  --dark-red: rgb(83, 7, 7);
  --pink: rgb(255, 198, 198);
  --grey: rgb(243, 243, 243);
  --white: rgb(255, 255, 255);
  --text-background: rgb(255, 255, 255);
  --border: #ccc;
}

html {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--grey);
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

/* CSS for main */
main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageTitle {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-family: Georgia;
}